<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Arachnida</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/board" th:href="@{/board}">Борты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/boardseat" th:href="@{/boardseat}">Места</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/flight" th:href="@{/flight}">Рейсы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/flightseat" th:href="@{/flightseat}">Места на борту</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manufacturer" th:href="@{/manufacturer}">Производитель</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/model" th:href="@{/model}">Модель</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ticket" th:href="@{/ticket}">Билет</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users" th:href="@{/users}">Пользователи</a>
            </li>
        </ul>
        <span class="navbar-text">
            Hello, <span th:text="${#authentication.name}">User</span>!
            <a href="/logout" class="btn btn-danger btn-sm ml-2">Logout</a>
        </span>
    </div>
</nav>

<div class="container mt-5">
    <h2 class="text-center">Добро пожаловать в Arachnida</h2>
    <p class="text-center">Вы успешно вошли</p>
</div>

</body>
</html>